body
  font-family: sans-serif
  font-size: 12px
  background-color: #222
  color: #ccc

.total-stats
  display: flex
  flex-wrap: wrap
  justify-content: center
  text-align: center
  font-size: 1rem
  font-family: monospace
  padding: 1rem 0
  & > div
    // display: inline-block
    padding: .5rem
  span + span
    margin-left: 0.5rem

input[type=checkbox]:disabled ~ label
  color: #555

button
  background-color: #444
  border: 1px solid #555
  padding: 0.25rem
  color: #ccc

select
  background-color: #444
  color: #ccc
  border: 1px solid #555
  appearance: none
  -webkit-appearance: none
  -mox-appearance: none
  padding: 0.25rem

a
  color: #ccc
  margin: 0 0.25rem

.countries
  column-count: 10

  @media(max-width: 1000px)
    column-count: 8

  @media(max-width: 800px)
    column-count: 6

  @media(max-width: 600px)
    column-count: 4

  // flex-direction: row
  @media(max-width: 400px)
    column-count: 2
  // flex-direction: row
  // flex: 0 0 300px
  // flex-wrap: wrap

  .country
    // width: 200px
    // flex: 0 0 200px
    overflow-x: hidden
    white-space: nowrap
    text-overflow: ellipsis

  .buttons
    flex: 0 0 100%

.buttons div
  display: inline-block

footer
  margin-top: 1rem
  text-align: center
  font-size: 0.7rem
  color: grey
